<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicdoubleint</Title>
    <Shortcut>ndicdoubleint</Shortcut>
    <Description>Dictionary of double, int using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<double, int> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>