<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicboolstring</Title>
    <Shortcut>ndicboolstring</Shortcut>
    <Description>Dictionary of bool, string using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<bool, string> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>