<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicbooldouble</Title>
    <Shortcut>ndicbooldouble</Shortcut>
    <Description>Dictionary of bool, double using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<bool, double> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>