<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicchardecimal</Title>
    <Shortcut>ndicchardecimal</Shortcut>
    <Description>Dictionary of char, decimal using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<char, decimal> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>