<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicfloatdecimal</Title>
    <Shortcut>ndicfloatdecimal</Shortcut>
    <Description>Dictionary of float, decimal using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<float, decimal> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>