<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndiccharstring</Title>
    <Shortcut>ndiccharstring</Shortcut>
    <Description>Dictionary of char, string using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<char, string> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>