<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicintdouble</Title>
    <Shortcut>ndicintdouble</Shortcut>
    <Description>Dictionary of int, double using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<int, double> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>