<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicintstring</Title>
    <Shortcut>ndicintstring</Shortcut>
    <Description>Dictionary of int, string using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<int, string> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>