<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicbooldecimal</Title>
    <Shortcut>ndicbooldecimal</Shortcut>
    <Description>Dictionary of bool, decimal using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<bool, decimal> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>