<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicdecimalfloat</Title>
    <Shortcut>ndicdecimalfloat</Shortcut>
    <Description>Dictionary of decimal, float using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<decimal, float> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>