<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicfloatchar</Title>
    <Shortcut>ndicfloatchar</Shortcut>
    <Description>Dictionary of float, char using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<float, char> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>