<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicstringfloat</Title>
    <Shortcut>ndicstringfloat</Shortcut>
    <Description>Dictionary of string, float using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<string, float> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>