<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicdecimalstring</Title>
    <Shortcut>ndicdecimalstring</Shortcut>
    <Description>Dictionary of decimal, string using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<decimal, string> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>