<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicfloatbool</Title>
    <Shortcut>ndicfloatbool</Shortcut>
    <Description>Dictionary of float, bool using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<float, bool> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>