<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicchardouble</Title>
    <Shortcut>ndicchardouble</Shortcut>
    <Description>Dictionary of char, double using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<char, double> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>