<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicfloatint</Title>
    <Shortcut>ndicfloatint</Shortcut>
    <Description>Dictionary of float, int using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<float, int> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>