<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicboolint</Title>
    <Shortcut>ndicboolint</Shortcut>
    <Description>Dictionary of bool, int using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<bool, int> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>