<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndiccharint</Title>
    <Shortcut>ndiccharint</Shortcut>
    <Description>Dictionary of char, int using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<char, int> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>