<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ndicstringchar</Title>
    <Shortcut>ndicstringchar</Shortcut>
    <Description>Dictionary of string, char using explicit type</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
Dictionary<string, char> $selected$ = new();
  ]]></Code></Snippet>
</CodeSnippet>