<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicintstring</Title>
    <Shortcut>vdicintstring</Shortcut>
    <Description>Dictionary of int, string using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<int, string>();
  ]]></Code></Snippet>
</CodeSnippet>