<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicfloatbool</Title>
    <Shortcut>vdicfloatbool</Shortcut>
    <Description>Dictionary of float, bool using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<float, bool>();
  ]]></Code></Snippet>
</CodeSnippet>