<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicdecimalchar</Title>
    <Shortcut>vdicdecimalchar</Shortcut>
    <Description>Dictionary of decimal, char using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<decimal, char>();
  ]]></Code></Snippet>
</CodeSnippet>