<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicdoublefloat</Title>
    <Shortcut>vdicdoublefloat</Shortcut>
    <Description>Dictionary of double, float using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<double, float>();
  ]]></Code></Snippet>
</CodeSnippet>