<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicintdecimal</Title>
    <Shortcut>vdicintdecimal</Shortcut>
    <Description>Dictionary of int, decimal using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<int, decimal>();
  ]]></Code></Snippet>
</CodeSnippet>