<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicdoublebool</Title>
    <Shortcut>vdicdoublebool</Shortcut>
    <Description>Dictionary of double, bool using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<double, bool>();
  ]]></Code></Snippet>
</CodeSnippet>