<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdiccharstring</Title>
    <Shortcut>vdiccharstring</Shortcut>
    <Description>Dictionary of char, string using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<char, string>();
  ]]></Code></Snippet>
</CodeSnippet>