<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicdecimalint</Title>
    <Shortcut>vdicdecimalint</Shortcut>
    <Description>Dictionary of decimal, int using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<decimal, int>();
  ]]></Code></Snippet>
</CodeSnippet>