<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicbooldouble</Title>
    <Shortcut>vdicbooldouble</Shortcut>
    <Description>Dictionary of bool, double using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<bool, double>();
  ]]></Code></Snippet>
</CodeSnippet>