<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicdecimalbool</Title>
    <Shortcut>vdicdecimalbool</Shortcut>
    <Description>Dictionary of decimal, bool using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<decimal, bool>();
  ]]></Code></Snippet>
</CodeSnippet>