<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicintdouble</Title>
    <Shortcut>vdicintdouble</Shortcut>
    <Description>Dictionary of int, double using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<int, double>();
  ]]></Code></Snippet>
</CodeSnippet>