<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicchardouble</Title>
    <Shortcut>vdicchardouble</Shortcut>
    <Description>Dictionary of char, double using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<char, double>();
  ]]></Code></Snippet>
</CodeSnippet>