<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicfloatint</Title>
    <Shortcut>vdicfloatint</Shortcut>
    <Description>Dictionary of float, int using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<float, int>();
  ]]></Code></Snippet>
</CodeSnippet>