<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicstringfloat</Title>
    <Shortcut>vdicstringfloat</Shortcut>
    <Description>Dictionary of string, float using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<string, float>();
  ]]></Code></Snippet>
</CodeSnippet>