<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicchardecimal</Title>
    <Shortcut>vdicchardecimal</Shortcut>
    <Description>Dictionary of char, decimal using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<char, decimal>();
  ]]></Code></Snippet>
</CodeSnippet>