<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicfloatdecimal</Title>
    <Shortcut>vdicfloatdecimal</Shortcut>
    <Description>Dictionary of float, decimal using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<float, decimal>();
  ]]></Code></Snippet>
</CodeSnippet>