<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicdoublechar</Title>
    <Shortcut>vdicdoublechar</Shortcut>
    <Description>Dictionary of double, char using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<double, char>();
  ]]></Code></Snippet>
</CodeSnippet>