<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicintfloat</Title>
    <Shortcut>vdicintfloat</Shortcut>
    <Description>Dictionary of int, float using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<int, float>();
  ]]></Code></Snippet>
</CodeSnippet>