<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicstringint</Title>
    <Shortcut>vdicstringint</Shortcut>
    <Description>Dictionary of string, int using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<string, int>();
  ]]></Code></Snippet>
</CodeSnippet>