<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicboolint</Title>
    <Shortcut>vdicboolint</Shortcut>
    <Description>Dictionary of bool, int using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<bool, int>();
  ]]></Code></Snippet>
</CodeSnippet>