<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdiccharint</Title>
    <Shortcut>vdiccharint</Shortcut>
    <Description>Dictionary of char, int using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<char, int>();
  ]]></Code></Snippet>
</CodeSnippet>