<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicdoubleint</Title>
    <Shortcut>vdicdoubleint</Shortcut>
    <Description>Dictionary of double, int using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<double, int>();
  ]]></Code></Snippet>
</CodeSnippet>