<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicstringbool</Title>
    <Shortcut>vdicstringbool</Shortcut>
    <Description>Dictionary of string, bool using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<string, bool>();
  ]]></Code></Snippet>
</CodeSnippet>