<CodeSnippet Format="1.0.0">
  <Header>
    <Title>vdicbooldecimal</Title>
    <Shortcut>vdicbooldecimal</Shortcut>
    <Description>Dictionary of bool, decimal using var</Description>
    <Author>Generated</Author>
    <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
  </Header>
  <Snippet><Code Language="csharp"><![CDATA[
var $selected$ = new Dictionary<bool, decimal>();
  ]]></Code></Snippet>
</CodeSnippet>